# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.GWOS.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Jasper Petit\RiderProjects\GWOS\.idea\.idea.GWOS\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
